
// Цвета текста
$colorDark: #2D3134;
$colorLight: #ffffff;
$colorGray: #717579;

// Цвета сайдбара
$colorMenuActive: #F66F4D;
$backColorMenu: #FFD482;

// Цвет фона
$backColorBody: #EDEDED;

// Цвет для формы авторизации
$colorAuth: #7957d5;