@import '_variables.scss';
@import '_mixins.scss';

* {
    box-sizing: border-box;
}


body { 
    background-color: $backColorBody;
    min-height: 100vh;
}

/* Основной блок */

.block-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    padding: 30px;
    min-height: 150px;
}

.help {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.title:not(:last-child) {
    margin-bottom: 20px;
}

/* Переопределение сайдбара */

.b-sidebar .sidebar-content.is-light {
    background-color: #FFFFFF;
    min-height: 100vh;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.menu-list {
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.menu-list a {
    @include textStyle(500, 18px, 27px, $colorGray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 17px;
    border-radius: 10px;
    gap: 5px;
}

.menu-list a.is-active {
    background-color: $backColorMenu;
    opacity: 0.85;
    color: $colorMenuActive;
}

.menu-list a:hover {
    opacity: 0.75;
    color: $colorMenuActive;
}

@media screen and (max-width: 1023px) {
    .b-sidebar {
        .sidebar-content {
            &.is-mini-mobile {
                &:not(.is-mini-expand),
                &.is-mini-expand:not(:hover):not(.is-mini-delayed) {
                    .menu-list {
                        li {
                            a {
                                span:nth-child(2) {
                                    display: none;
                                }
                            }
                            ul {
                                padding-left: 0;
                                li {
                                    a {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .menu-label:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .b-sidebar {
        .sidebar-content {
            &.is-mini {
                &:not(.is-mini-expand),
                &.is-mini-expand:not(:hover):not(.is-mini-delayed) {
                    .menu-list {
                        li {
                            a {
                                span:nth-child(2) {
                                    display: none;
                                }
                            }
                            ul {
                                padding-left: 0;
                                li {
                                    a {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .menu-label:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.is-mini-expand {
    .menu-list a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// Переопределения инпутов

.field:not(:last-child) {
    margin: 0;
}


